body{
  margin: 0;
  font-family: sans-serif, Arial, Helvetica;
  background-color: rgba(60, 230, 79, 1);
}

.App {
  text-align: center;
  justify-content: center;
}

/* Header Section */
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vw;
  background-color: rgba(33, 118, 43, 1);
  padding-top: 1rem;
}

#currency-select{
  align-self: flex-start;
  width: fit-content;
  font-size: 1.5rem;
  padding: 0.2vw;
  margin: 0.2vw;
}
  
#header img {
  max-width: 15vw;
  max-height: 15vw;
  margin: 1rem;
}
  
#header h1 {
  font-size: 3rem;
  width: 100%;
  color: white;
  margin: 0;
}

/* Input Buttons and Fields*/

#input-group{
  margin: 3vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5vw;
  justify-content: center;
  font-size: 1.25rem;
}

.input-section{
  display: flex;
  flex-direction: column;
}

.input-label{
  font-size: 1.25rem;
}

#buttons{
  display: flex;
  flex-direction: row;
  gap: 5vw;
  justify-content: center;
  align-content: center;
}

.button{
  font-size: 1.25rem;
}

/* Output Table */
#output-table tr{
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-evenly;
  border: solid 1px black;
  
}

#output-table th{
  width: 30%;
  background-color: rgb(164, 164, 164);
  border: solid 1px black;

}