body{
  margin: 0;
  font-family: sans-serif, Arial, Helvetica;
}

.App {
  text-align: center;
  justify-content: center;
}

#header {
    text-align: center;
    justify-content: center;
    margin: 0;
    background-color: rgba(178, 6, 6, 1);
    padding-top: 1rem;
  }
  
  #header img {
    max-width: 15vw;
    max-height: 15vw;
    justify-self: center;
    margin: 1rem;
  }
  
  #header h1 {
    font-size: 3rem;
    width: 100%;
    color: white;
    background-color: rgba(255, 255, 255, 0.2) ;
    margin: 0;
  }

#input-group{
  margin: 3vw;
  display: flex;
  flex-direction: row;
  gap: 5vw;
  justify-content: center;
}

.input-section{
  display: flex;
  flex-direction: column;
}

input[type=number]{
  appearance: textfield;
}