body{
  margin: 0;
  font-family: sans-serif, Arial, Helvetica;
  background-color: rgba(237, 255, 185, 1);
}

.App {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* Header Section */
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vw;
  background-color: rgba(33, 118, 43, 1);
  padding-top: 1rem;
}

#currency-select{
  align-self: flex-start;
  width: fit-content;
  font-size: 1.5rem;
  padding: 0.2vw;
  margin: 0.2vw;
}
  
#header img {
  max-width: 15vw;
  max-height: 15vw;
  margin: 1rem;
}
  
#header h1 {
  font-size: 3rem;
  width: 100%;
  color: white;
  margin: 0;
}

/* Input Buttons and Fields*/

#input-group{
  margin: 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5vw;
  justify-content: start;
  font-size: 1.25rem;
}

#user-input{
  background-color: rgba(136, 222, 90, 0.79);
}

.input-section{
  display: flex;
  flex-direction: column;
}

.input-label{
  font-size: 1.25rem;
}

#buttons{
  margin: 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5vw;
  justify-content: start;
  font-size: 1.25rem;
}

.button{
  padding: 0.5vw;
  font-size: 1.25rem;
}

/* Output Table */

#output-table{
  margin: 1vw;
  margin-top: 2vw;
}

#output-table tr{
  padding-left: 2.5vw;
  display: flex;
  flex-direction: row;
  width: 95vw;
  justify-content: center;
}

#output-table tr .year{
  width: 3vw;
}

#output-table tr > *{
  padding: 0.5vw;
}
#output-table tr th{
  border-radius: 0.1vw;
  width: 20%;
  border: solid 1px black;
  background-color: rgba(204, 254, 255, 1);
  margin:0.1vw;
  font-size: 2rem;
}

#output-table tr td{
  font-size: 2rem;
  border-radius: 0.1vw;
  width: 20%;
  border: solid 1px black;
  margin:0.1vw;
  overflow-x: auto;
}

.year{
  background-color: rgba(204, 254, 255, 1);
}

.investment{
  background-color: rgb(226, 226, 226);
}

.interest-year{
  background-color: rgb(215, 215, 215);
}

.interest-total{
  background-color: rgb(221, 221, 221);
}

.investment-total{
  background-color: rgb(217, 217, 217);
}